<!DOCTYPE html>
<html lang="">
<head>
<title>Recommendation System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static\css\layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('static/css/banner1.jpg');"> 
  
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      
      <div id="logo" class="fl_left">
        <h1><a href="index.html" style="color:powderblue;">Recommendation System</a></h1>
      </div>
      
     
    </header>
  </div>
  <section id="pageintro" class="hoc clear">
  <div class="login">
     
  <h2 class="heading"  style="color:yellow;" >Hollywood Movies only.</h2>
	  
  <form action="{{url_for('recommend')}}">
    
<input type="search" id="movie" class="btn btn-primary"  name="movie">
    <br>
	<br>
    <input type="submit" class="btn btn-primary btn-block btn-large" value="Enter">
	
  </form>
      
    </div>
  </section>
  
</div>

    <!-- main body -->
    
    <div class="sectiontitle">
      <h6 class="heading">Supporters desk</h6>
      
    </div>
    <div class="group excerpts">
      <article class="one_third first">
        <div class="hgroup">
          <h6 class="heading">prasoon kumar</h6>
          <em></em></div>
        <figure><a href="#"><img src="static\IMG_20160917_085745.jpg" alt=""></a></figure>
        <div class="txtwrap">
          
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
      <article class="one_third">
        <div class="hgroup">
          <h6 class="heading">prasoon kumar</h6>
          <em></em></div>
        <figure><a href="#"><img src="static\IMG_20160917_085745.jpg" alt=""></a></figure>
        <div class="txtwrap">
          
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
      <article class="one_third">
        <div class="hgroup">
          <h6 class="heading">prasoon kumar</h6>
          <em></em></div>
        <figure><a href="#"><img src="static\IMG_20160917_085745.jpg" alt=""></a></figure>
        <div class="txtwrap">
          
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
    </div>
    
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper overlay coloured">
  <section class="hoc container clear"> 
    
    <div class="sectiontitle">
      <h6 class="heading">Our Aim</h6>
      <p>Our aim is to provide movie recommendation on the basis of simlarity between their description.we used content based approach for this project.</p>
    </div>
    
    
    <div class="clear"></div>
  </section>
</div>

    
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <footer id="footer" class="hoc clear"> 
    
    <div class="one_third first">
      <h6 class="heading">Movie Recommendation System</h6>
      <p></p>
      
     
    </div>
    <div class="one_third">
      <h6 class="heading">HEAD OFFICE</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          cp -13 Pitampura Delhi
		  110034
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +91 7827420229</li>
        <li><i class="fa fa-fax"></i> +91 7827420229</li>
        <li><i class="fa fa-envelope-o"></i> kprasoon950@gmail.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
	 </P>
	 <nav>
	 <div class="one_third">
        <ul class="nospace">
          
          <li><a href="#">About</a></li></P>
          <li><a href="#">Contact</a></li></P>
          <li><a href="#">Terms</a></li></P>
          <li><a href="#">Privacy</a></li></P>
          
          <li><a href="#">Disclaimer</a></li>
          
          
        </ul>
      </nav>
   </div>
    
  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; pk - <a href="#">janseva</a></p>
    
    
  </div>
</div>

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>


</body>
</html>